table {
  width: 100%
}

figure {
  display: inline-block
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.back {
  position: fixed;
  top: 5px;
  left: 10px;
  z-index: 1000;
  font-size: smaller;
}